
*{
    font-family: 'Raleway';
    
}

body{
    
    background-color: #f5f8ff;
    
}
.cs-main{
margin: 0px auto;
max-width: 80%;
}



.header{
    padding-top: 2em;
    height: 698px;
    background-image: url("Assets/Hero-bg.png");
   

}
.h-container{
    width: 90%;
    margin: 0 auto;
}


.h-nav{
    display: flex;
    justify-content:space-between;
    align-items: center;

}
.he-nav{
    text-align: center;

}

.logo{
    width: 150px;
    height: 100px;

}

.button{
    display: inline-block;
    padding: 14px 28px;
    border-radius: 10px;
    background-color:#5d3eff;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    border: none;

}

.h-h1{
    font-size: 65px;
    padding-top: 40px;
    text-align: center;
}



.ac-section{

}
.ac-div{
    display: flex;
    justify-content:center;
    align-items: center;

}

.ac-section{
    margin: 60px;


}
.ac-text{
    flex: 1;
    text-align: left;
    font-size: 24px;
}

.ac-img{

    
   border-radius: 8px;
}



.stat-div{
    align-items: center;
    border-radius: 30px;
    background-color: #e5e7ff;
    padding: 20px 60px;

}
.fix-stat-spacing{
    padding: 20px 180px;
}

.fix-review-spacing{
    padding: 0px;
}

.title-text{
    font-size: 24px;
}
.stat-count{
font-family: 'inter'; 
    font-size: 80px;
    font-weight: bold;
    color: #4e47ff;
}
.shape-fixer{
    margin: 50px 120px;
}
.grey-text{
    color: #928f8f;
}
.stat-item{
    text-align: center;
    width: 200px;
    font-family: 'Inter';
}

.rating-div{
    
    align-items: center;
    border-radius: 30px;
    padding: 20px 0px;
}
.review-item{
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    font-size: 20px;
    margin: 0px 10px;
}
.center-text{
    text-align: center;
}
.focus-div{
    text-align: center;
}
.white-bg{
    background-color: #fff;
}

.get-touch-div{
    display: flex;
    align-items: flex-start;
    gap: 60px;

}
input,textarea{
    width: 100%;
    padding: 7px;
    border-radius: 7px;
    border: 1px solid #bbb;
    height: 25px;
    margin-bottom: 10px;
}
textarea{
    resize: none;
    height: 120px;
}
footer{
    background-color: #ffff;
    height: 400px;
    align-items: center;
    border-radius: 30px;
    padding: 20px 60px;
    
   
}
.fix-footer{
    justify-content: center;
    gap: 60px;
    
    
}
.link-item a{

    text-decoration: none;
    color: #636262;
}

.footerimg{
    padding-top: 120px;
    text-align: center;

    
}
