*{
    font-family: 'Raleway';
    
}

/* header section */

.header{
    padding-top: 2em;
    height: 698px;
    background-image: url('/assets/Hero-bg.png');
   

}
.h-container{
    width: 90%;
    margin: 0 auto;
}


.h-nav{
    display: flex;
    justify-content:space-between;
    align-items: center;

}
.he-nav{
    text-align: center;

}

.logo{
    width: 150px;
    height: 100px;

}

.button{
    display: inline-block;
    padding: 14px 28px;
    border-radius: 10px;
    background-color:#5d3eff;
    color: #ffffff;
    text-align: center;
    text-decoration: none;


}

.h-h1{
    font-size: 65px;
    padding-top: 40px;
    text-align: center;
}



/* main section */

.ac-section{

}
.ac-div{
    display: flex;
    justify-content:center;
    align-items: center;

}

.ac-section{
    margin: 60px;


}
.ac-text{
    flex: 1;
    text-align: left;
    font-size: 24px;
}

.ac-img{

    
   border-radius: 8px;
}



.stat-div{
    align-items: center;
    border-radius: 30px;
    background-color: #e5e7ff;
    padding: 20px 60px;

}
.fix-stat-spacing{
    padding: 20px 180px;
}

.stat-text{
    flex: 1;
    text-align: left;
    font-size: 24px;
}
.stat-count{
font-family: 'inter'; 
    font-size: 80px;
    font-weight: bold;
    color: #4e47ff;
}
.shape-fixer{
    margin: 50px 120px;
}
.grey-text{
    color: #aaa;
}
.stat-item{
    text-align: center;
    width: 200px;
}